.header {
  grid-area: header;
  background: rgb(7, 185, 216);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-heading{
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}